//******************************************//
// CONTAINER
//******************************************//
@mixin container {
  @include containerHeading();
  background: rgba(20, 20, 20, 0.9);
  color: white;
  padding: 0 3rem;
}

@mixin containerHeading {
  h2 {
    margin: 0;
    padding: 1.7rem 0 0.7rem 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(222, 222, 222);
  }
}

//******************************************//
// ROW
//******************************************//
@mixin row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

//******************************************//
// CARDS
//******************************************//
