@import "normalize";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

//******************************************//
// COLOR PALETTE
//******************************************//
$grey: rgb(50, 55, 50);
$green: rgb(141, 180, 92);
$lightgreen: rgb(174, 213, 129);
$offwhite: rgb(245, 245, 245);
$offblack: rgb(40, 40, 40);

//******************************************//
// FONTS
//******************************************//
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600|Shadows+Into+Light+Two|Shadows+Into+Light|Open+Sans:400,400i,700');

$fontBrand: 'Shadows Into Light', cursive;
$fontHero: 'Shadows Into Light Two', cursive;
$fontMain: 'Josefin Sans', sans-serif;
$fontText: 'Open Sans', sans-serif;

$fontThin: 100;
$fontLight: 300;
$fontNormal: 400;
$fontBold: 600;
$fontUltraBold: 700;

//******************************************//
// TEXT
//******************************************//
h1, h2, h3, h4, h5 {
	font-family: $fontMain;
	font-weight: 300;
	margin: 0.5em 0 0.5em 0;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.094rem; }
h5 { font-size: 0.8rem; }

a, button, ul, li {
	font-family: $fontMain;
	text-decoration: none;
	list-style: none;
}

p {
	font-family: $fontText;
	font-size: 1.1rem;
}

