@import "normalize";

html {
  box-sizing: border-box;
	height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	min-height:100vh; 
  position:relative; 
	padding-bottom: 3rem; 

}

//******************************************//
// COLOR PALETTE
//******************************************//
$grey: rgb(35, 40, 35);
$green: rgb(120,210,105);
$lightgreen: rgb(141, 200, 92);
$white: rgb(255,255,255);
$offblack: rgb(50, 50, 50);

$bgopacity: rgba(0, 0, 0, 0.5);

//******************************************//
// FONTS
//******************************************//
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600|Shadows+Into+Light+Two|Raleway:400,400i,700');

$fontHeading: 'Shadows Into Light Two', cursive;
$fontMain: 'Josefin Sans', sans-serif;
$fontText: 'Raleway', sans-serif;

$fontThin: 100;
$fontLight: 300;
$fontNormal: 400;
$fontBold: 600;
$fontUltraBold: 700;

//******************************************//
// TEXT
//******************************************//
h1, h2, h3, h4, h5 {
	font-family: $fontMain;
	font-weight: 300;
	margin: 0.5em 0 0.5em 0;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.05rem; }
h5 { font-size: 0.8rem; }

a, button, ul, li, label {
	font-family: $fontMain;
	text-decoration: none;
	list-style: none;
	font-size: 1.3rem;
}
p {
	font-family: $fontText;
	font-size: 1.1rem;
}
article {
	font-family: $fontText;
	font-size: 1.1rem;
	line-height: 1.7;
}
