//******************************************//
// PLANTS FILTER 
//******************************************//

#filter {
  cursor: pointer;
  padding: 0 3rem 0 0;
  top: 5%;
  color: $offwhite;
  position: absolute;
  right: 0;
  
  z-index: 1;
  .filter-img {
    display: inline-block;
    width: 1.9rem;
    height: auto;
    margin-right: .2rem;
    transition: transform .4s ease;
  }
  .filter-title {
    display: inline-block;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
  }
  &:hover .filter-img {
    transform: rotate(27deg)
  }
}
.filter-modal {
  background: rgba(0, 0, 0, 0.8);
  width:  100%;
  height: 100%;
  position: fixed;
  top:  0;
  left: 0;
  z-index: 7777;
  .modal-exit {
    position: absolute;
    top: 2.5%;
    right: 1%;
    cursor: pointer;
    width: 1.7rem;
    height: auto;
    transition: transform 1s cubic-bezier(.23,1.51,.99,1.03);
    z-index: 9998;
    &:hover {
      transform: rotate(90deg);
    }
  }

  .filter-modal-body {
    position: absolute;
    background: $offwhite;
    top:  50%;
    left: 50%;
    width: 50%;
    height: 35%;
    transform: translateX(-50%) translateY(-50%);
    background: rgb(100, 100, 100);
    .filter-modal-title {
      width: 100%;
      background: rgb(65, 65, 65);
      padding: .4rem 0;
      h1 {
        margin: 0;
        text-align: center;
        font-size: 1.8rem;
      }
    }
    .filter-modal-filters {
      padding: 2em;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
      .filter-attr {
        .filter-img {
          cursor: pointer;
          margin: 0 1.2rem;
          filter: invert(75%);
          width: 2.6rem;
          height: auto;
          &:hover {
            filter: invert(100%) drop-shadow(8px 8px 10px $offblack);
          }
      
        }
          &:hover .attr-info {
            visibility: visible;
          }  
      .attr-info {
        visibility: hidden;
        position: absolute;
        color: rgb(210, 210, 210);
        font-family: $fontMain; 
        text-align: center;
        z-index: 1;
        top: 65%;
        left: 0%; 
        width: 100%;
      }
      .selectedfilter {
        filter: invert(100%) drop-shadow(8px 8px 10px $offblack);
      }
    }
  }
     
    .filter-submit {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: .8rem;
      button {
        cursor: pointer;
        width: 7rem;
        border-radius: 2rem;
        border: none;
        background: rgb(75, 75, 75);
        color: $offwhite;
        margin: .7rem 0;
        transition: all .3s ease;
        &:hover {
          background-color: $green;
        }
      }
    }
  }
}


// TRANSITIONS
.filter-animation-enter {
  opacity: 0;
}

.filter-animation-enter-active {
  transition: all .4s ease;
}

.filter-animation-leave-active {
  transition: all .7s ease;
  opacity: 0;
  transform: scale(1.1);
}