//******************************************//
// PLANTS MODAL 
//******************************************//

#modal {
  background: rgba(0, 0, 0, 0.8);
  width:  100%;
  height: 100%;
  position: fixed;
  top:  0;
  left: 0;
  z-index: 7777;
  color: white;
  .modal-exit {
    position: absolute;
    top: 2.5%;
    right: 1%;
    cursor: pointer;
    width: 1.8rem;
    height: auto;
    transition: transform 1s cubic-bezier(.23,1.51,.99,1.03);
    z-index: 9998;
    &:hover {
      transform: rotate(90deg);
    }
  }
  .modal-body {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 70%;
    transform: translateX(-50%) translateY(-50%);

    /*Modal Sidebar*/
    .modal-sidebar {
      flex: 1 0 0;
      background: rgb(40, 40, 40);
      .modal-plant-name-box {
        height: 1.7rem;
        .modal-plant-name {
          font-size: 1.3rem;
          text-align: center;
          color: $offwhite;
        }
      }
      .modal-plant-img {
        width: 11rem;
        height: auto;
        margin: 0 .6rem;
     }
     .modal-plant-sci {
       font-family: $fontMain;
       font-size: .97rem;
       line-height: 0;
       text-align: center;
       color: $offwhite;
     }
    }

    /*Modal Data*/
    .modal-data {
      display: flex;
      flex-flow: column nowrap;
      flex: 7 0 0;

      .modal-menu {
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        background: rgb(70, 70, 70);
        height: 2.6rem;
        align-content: center;
        align-items: center;
        justify-content: center;   
        .modal-menu-img {
          width: 1.7rem;
          height: auto;
          margin-right: 5%; 
        }
        .modal-menu-title {
          font-size: 1.15rem;
          color: $offwhite;
        }
        .modal-menu-stats {
          display: inline-flex;
          flex: 1 0 0;
          align-items: center;
          justify-content: center;
          background: rgb(45, 45, 45);
          transition: all .3s ease;
          &:hover {
            background: rgb(65, 65, 65);
          }
        }
        .modal-menu-comoplantar {
          display: inline-flex;
          flex: 1 0 0;
          align-items: center;
          justify-content: center;
          background: rgb(45, 45, 45);
          transition: all .3s ease;
          &:hover {
            background: rgb(65, 65, 65);
          }
        }
        .modal-menu-usos {
          display: inline-flex;
          flex: 1 0 0;
          align-items: center;
          justify-content: center;
          background: rgb(45, 45, 45);
          transition: all .3s ease;
          &:hover {
            background: rgb(65, 65, 65);
          }
        }
        .activetab {
          background: rgb(70, 70, 70);
        }
      }
      /*****STATS*****/
      .stats {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background: rgb(70, 70, 70);
        height: 100%;
        .stats-img {
          cursor: help;
          position: absolute;
          left: 28%;
          width: 2.1rem;
          height: auto;
          filter: invert(100%);
        }
        #sol   {top: 16%;}
        #rega  {top: 26%;}
        #prag  {top: 36%;}
        #germ  {top: 46%;}
        #cresc {top: 56%;}
        #alt   {top: 66%;}
        #temp  {top: 76%;}
        #solo  {top: 86%;}
       
        .stats-bar {
          cursor: default;
          position: relative;
          margin: 2.2% 0;
          width: 75%;
          height: 4.3%;
          background: rgb(100,100, 100);
          border-radius: 2rem;
          z-index: 1;
          .progress-bar {
            position: absolute;
            height: 100%;
            z-index: 2;
            border-radius: 2rem;
          }
          
        }
        .reguas {
          display: flex;
          flex-flow: row;
          font-family: $fontMain;
          width: 100%;
          z-index: 2;
          color: black;
          #regua1 {
            margin: auto;
            z-index: 3;
          }
          #regua2 {
            margin: auto;
            z-index: 3;
          }
          #regua3 {
            margin: auto;
            z-index: 3;
          }
        }
      }
      /*****COMO PLANTAR*****/
      .comoplantar {
        padding: 0 1rem;
        background: white;
        color: $offblack;
        height: 100%;
      }
      /*****USOS*****/
      .usos {
        padding: 0 1rem;
        background: white;
        color: $offblack;
        height: 100%;
      }
    }
  }
}

// TRANSITIONS
.modal-animation-enter {
  opacity: 0;
}

.modal-animation-enter-active {
  transition: all 0.4s;
}

.modal-animation-leave-active {
  transition: all 0.5s;
  opacity: 0;
  transform: scale(1.1);
}