
@mixin cardText {
  p {
     margin: 0;
     padding: .4rem .4rem;
     background: rgba(0, 0, 0, 0.3);
     font-size: 1.5rem;
     font-family: $fontMain;
     font-weight: 300;
     color: $white;
  }
}

@mixin card ($img:file, $type:jpg) {
  @include cardText();
  background-image: url(./../../assets/#{$img}.#{$type});
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.7rem;
  height: 15rem;
  width: 12.32rem;
  box-shadow: 5px 7px 15px 2px rgba(0,0,0,0.8);
}