@import "normalize";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

//******************************************//
// COLOR PALETTE 
//******************************************//
$grey: rgb(60, 60, 60);
$green: rgb(0, 200, 83);
$lightgreen: rgb(0, 230, 118); 
$white: rgb(255, 255, 255); 
$black: rgb(20, 20, 20); 

//******************************************//
// FONTS
//******************************************//
@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Handlee|Lato');

$fontBrand: 'Coming Soon', cursive;
$fontHeading: 'Handlee', cursive;
$fontText: 'Lato', sans-serif;


$fontThin: 100;
$fontLight: 300;
$fontNormal: 400;
$fontBold: 600;
$fontUltraBold: 700;

//******************************************//
// POSITIONING HELPERS
//******************************************//
.center { margin-left: auto; margin-right: auto; }
.left   {	float: left;                           }
.right  {	float: right;                          }

.text-left      {	text-align: left !important;         }
.text-center    {	text-align: center !important;       }
.text-right     {	text-align: right !important;        }
.text-justify   {	text-align: justify !important;      }
.text-uppercase { text-transform: uppercase!important; }

//******************************************//
// TEXT
//******************************************//
h1, h2, h3, h4, h5 {
	font-family: $fontHeading;
	font-weight: 300;
	margin: 0.5em 0 0.5em 0;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 2.0rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.6rem; }

a, button, li {
	font-family: $fontHeading;
}

p {
	font-family: $fontText;
	font-size: 1.1rem;
}
