@import "normalize";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

//******************************************//
// COLOR PALETTE 
//******************************************//
$grey: rgb(60, 60, 60);
$green: rgb(0, 200, 83);
$lightgreen: rgb(0, 230, 118); 
$white: rgb(255, 255, 255); 
$black: rgb(20, 20, 20); 

//******************************************//
// FONTS
//******************************************//
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Open+Sans:400,400i,700');

$fontMain: 'Josefin Sans', sans-serif;
$fontText: 'Open Sans', sans-serif;

$fontThin: 100;
$fontLight: 300;
$fontNormal: 400;
$fontBold: 600;
$fontUltraBold: 700;

//******************************************//
// TEXT
//******************************************//
h1, h2, h3, h4, h5 {
	font-family: $fontMain;
	font-weight: 300;
	margin: 0.5em 0 0.5em 0;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }

a, button, li {
	font-family: $fontMain;
}

p {
	font-family: $fontText;
	font-size: 1.1rem;
}

//******************************************//
// FLEXBOX GRID
//******************************************//
.row {
  display: flex;
  flex-direction: column;
}
.col {
  flex: 1;
  margin: 0.1em;
  padding: 1em;
  color: white;
  background-color: black;
  opacity: 0.8;
}

@media screen and (min-width: 500px){
  .row {flex-flow: row wrap;}
  .col {flex: 1 1 40%;}
  .row:nth-child(3) .col {flex: 1}
}
@media screen and (min-width: 900px){
  .col {flex: 1;}
}